body {
	font-family: Roboto, helvetica, sans-serif;
}

header,
main,
footer {
	max-width: 760px;
	margin: 0 auto;
}

.banner {
	padding: 1rem;
	background-color: #eee;
    font-weight: 700;
	word-break: break-word;
	text-align: center;
}

h1 {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

main {
	display: grid;
    grid-template-columns: 1fr 200px;
    grid-gap: 1.5rem
}

h2 {
	color: navy;
	text-align: left;
    grid-column: 1/3;
}

article p {
	text-align: justify;
    grid-template-columns: 1fr;
}

.callout {
	color: black;
	background-color: rgb(174, 174, 245);
    padding: 20px;
    grid-column: 1/3;
}

footer {
	margin-top: 1rem;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	font-size: smaller;
	text-align: left;
}
