* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
}
header{
    background-color: #0066ff;
    padding: 20px;
}
h1{
    color: black;
    font-size: 2rem;
}