
/* my home page */

body {
    display: block;
    background-color:white; 
    margin: auto;
    font-family: "Roboto", sans-serif;

}
#content {
    max-width: 750px;
    margin: auto;   
}
header {
    background-color: rgb(4, 61, 141);;
    display:block;
    unicode-bidi: isolate;
    text-align:  center;  
}
#course-title {
    color: white;
}

nav {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #01050e;

}   
nav a{

    color: white;
    text-decoration: none;
    padding: 35px;
    font-size: 1.5em;
  
}
nav a:hover {
    color:rgb(241, 103, 4) 
} 
h1 {
    display: flex;
    justify-content: center;
}
main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    
}

.card {
    grid-template-columns:auto auto 1fr;
    margin: 10px;
   
    
}
.card h2 {
    background-color: #0860db;
    padding: 1rem;
    text-align: center;
    border-radius: 10px;
    color: bisque;
}

.profile {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    gap: 15px;
}

.profile img {
    max-width: 150px;
    margin-left: auto;
}
.country p {
    display: flex;
    align-items: center;
    gap: 10px;
    
}
.country img,
.country figure {
    float: left;
    margin: 10px;
}

.country h3 {
    text-align: center;
}
.country  figcaption {
    text-align: center;
    font-style: italic;  
}

footer {
    background-color:#1d3557;
    color: white;
    padding: 1rem;
    text-align: center;
}
@media screen and (max-width: 900px) {
    body {
        font-size: 1vw;
    }
} 