
/* my home page */

body {
    display: block;
    background-color: #FFFFFF; 
    margin: auto;
    font-family: "Roboto", sans-serif;

}
#content {
    max-width: 750px;
    margin: auto;   
}
header {
    background-color:#043D8D;
    display:block;
    unicode-bidi: isolate;
    text-align:  center;  
}
 header #course-title {
    color: #FFFFFF;
}

nav {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #000000;

}   
nav a{

    color: #FFFFFF;
    text-decoration: none;
    padding: 35px;
    font-size: 1.5em;
  
}
nav a:hover {
    color:#F16704 
} 
h2 {
    display: flex;
    justify-content: center;
}
main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    
}

.card {
    grid-template-columns:auto auto 1fr;
    margin: 10px;
   
    
}
.card h2 {
    background-color: #0860db;
    padding: 1rem;
    text-align: center;
    border-radius: 10px;
    color: #FFE4C4;
}

.profile {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    gap: 15px;
}

.profile img {
    max-width: 150px;
    margin-left: auto;
}
.country {
    display: flex;            
    align-items: flex-start;  
    gap: 20px;                
    margin: 10px 0;
}
.country p {
    flex: 1;
      
}
.country img,
.country figure {
    display: flex;            
    align-items: flex-start;  
    gap: 20px;                
    margin: 10px 0;
}
h3 {
    display: flex;
    justify-content: center;
}
.country  figcaption {
    text-align: center;
    font-style: italic;  
}


footer {
    background-color:#1d3557;
    color: white;
    padding: 1rem;
    text-align: center;
}
@media screen and (max-width: 900px) {
    body {
        font-size: 1vw;
    }
} 