
/* my home page */

body {
    display: block;
    background-color:white; 
    margin: auto;
    font-family: "Roboto", sans-serif;

}
#content {
    max-width: 750px;
    margin: auto;   
}
header {
    background-color:#043d8d ;
    display:block;
    unicode-bidi: isolate;
    text-align:  center;  
}
#course-title {
    color: white;
}
#name {
    color: bisque;
}

nav {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #010711;
}   
nav a{

    color: white;
    text-decoration: none;
    padding: 35px;
    font-size: 1.5em;
  
}
nav a:hover {
    color:chocolate 
} 
main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    
}

.card {
    display: grid;
    grid-template-columns:(auto auto 1fr);
    margin: 10px;;
   
    
}
.card h2 {
    background-color: #0860db;
    padding: 1rem;
    text-align: center;
    border-radius: 10px;
    color: bisque;
}

.profile p {
    display: block;
    padding: 10px;
}
.profile img {
    float: right;
}
.country p {
    display: flex;
    align-items: center;
    gap: 10px;
    
}
.country img, figure {
    float: left;
    margin: 10px;
}

.country h3 {
    text-align: center;
}
.country  figcaption {
    text-align: center;
    font-style: italic;
    
}
.card-resources {
    margin: 10px;
   
}
.card-resources h2{
    background-color: #0860db;
    padding: 1rem;
    text-align: center;
    border-radius: 10px;
    color: bisque;
}
.card-resources ul{
    padding: 1rem;
    margin: 50px 25px 0 25px;
}
footer {
    background-color:#1d3557;
    color: white;
    padding: 1rem;
    text-align: center;
}
@media screen and (max-width: 900px) {
    body {
        font-size: 1vw;
    }
} 