
body {
	font-family: "Roboto", sans-serif;
  margin: 0;
}

header {
	background-color:#8325ee;
	display: grid;
  grid-gap: 1rem;
	padding: 10px;		
}
h1{
    text-align: center;
    color: white;
}

form.product-form {
  width: 95%;
  max-width: 600px;
  margin: 0;
  padding: 1rem;
  background-color: pink;
  border-radius: 5px;

  
}
.form-group{
  margin-bottom: 1.5rem;
}
label{
  display: block;
  margin-top: 0.5rem;
  font-weight: 500;
}
input, select, textarea{
  width: 100%;
  padding: 8px;
  font-size: 1rem;
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
}
.optional {
    color: blue;
    font-weight: normal;
    margin-left: 5px;   
    font-size: 0.9rem;  
}
.required{
  color: red;
}
select{
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid black;
}
.star-rating-container {
  display: flex;
  flex-direction: column;
 /* align-items: flex-start;*/
  gap: 1rem;
  border: none;
}

.star-options {
  display: flex;       
  gap: 10px;
  justify-content: center;
  flex-wrap: nowrap;
  
}
.star-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  text-align: center;
  /*gap: 5px;*/
  
}
           

.star-option input {
  display: none;
}

.star-option .stars {
  font-size: 2rem;
  color:black;
  transition: color 0.2s;
}

.star-option .stars:hover {
  color: rgb(76, 0, 255);
}
.star-option .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid black;
  background-color: white; 
}
.star-option input:checked + label + .circle{
  background-color:  #FFFFFF33;
}
.checkbox-group{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
}

.checkbox-group label{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border: 2px solid #8325ee;
  border-radius: 6px;
  background-color: white;
  cursor: pointer;
  transition: 0.25;
  width: 100%;
}
.checkbox-group input[type="checkbox"]{
  display:inline-block;
} 
.checkbox-group input[type="checkbox"]:checked + span{
  background-color: #8325ee;
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
}



footer {
    background-color:#8325ee;
    color: white;
    padding: 1rem;
    text-align: center;
}
@media (min-width: 40em) {
	
  .star-option {
    flex-direction: row;
  }
  .star-option .circle {
    width: 22px;
    height:22px;
  }
  .checkbox-group{
    align-items: flex-start;
  }

  form.product-form {
    background-color: transparent;
    max-width: 700px;
    padding: 2rem;
  }
  input, select, textarea{
    font-size: 1.1rem;
    padding: 10px;
  }
  .star-options{
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}  

