:root {
  --primary-color: #E30A17;
  --secondary-color: #00B5E2;
  --accent-color: #3F9C35;
  --box-bg: rgba(255,255,255,0.9);
  --text-dark: #000;
  --text-light: #fff;
}

body, html {
    margin:0;
    padding: 0;
    font-family: Arial, sans-serif;
}
header {
    background-color: var(--primary-color);
    border-top: 10px solid var(--secondary-color);
    border-bottom: 10px solid var(--accent-color);
    /*display:block;*/
    text-align:  center; 
    padding: 1rem; 
    color: var(--text-light);
}

.hero {
  position: relative;
  /*width: 100%;*/
  
}

.hero img {
  width: 100%;
  height: auto;
  /*object-fit: cover;*/
  display: block;
}

.data, .weather {
  margin: 1rem;
  padding: 0;
  border-radius: 0;
  
  position: static;
  
}
h1, h2 {
  text-align: center;
}


.data h2 {
  background: none;
  color: var(--text-dark);
  padding: 0;
  text-align: center;       
         
  margin-bottom: 10px;        
       
}
.weather-title {
  display: flex;
  flex-direction: column; 
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 10px;
}
.weather-title::after {
  content: "";
  display: block;
  width: 20px;       
  height: 20px;
  margin-top: 10px;
  background-image: url('images/weather.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.data ul,
.weather ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


footer {
  background-color: var(--primary-color);
  border-top: 10px solid var(--secondary-color);
  border-bottom: 10px solid var(--accent-color);
  color: var(--text-light);
  text-align: center;
  padding: 1rem;
}


@media (min-width: 1000px) {
  .data, .weather {
    position: absolute;
    top: 150px;
    width: 250px;
    background-color: var(--box-bg);
    border-radius: 8px;
    text-align: center;
    padding: 10px;
  }
  .data { 
    left: 50px;
   
  }
  .weather { 
    right: 50px; 
    
  }

  .data h2 {
    background-color: var(--accent-color);
    color: var(--text-light);
    padding: 10px 20px;
    left: -35px;
    text-align: left;
  }
   
  .weather h2 {
    background-color: var(--accent-color);
    color: var(--text-light);
    right: 50px;
    padding: 10px 20px;
    text-align: left;
    
  }

  .weather-title::after {
    width: 30px;     
    height: 30px;
    margin: 0 0 0 10px;
    display: inline-block;
  }
  .weather-icon {
    width: 30px;
    height: 30px;
    position: static;
    margin-left: 10px;
  }
  
}

  



 