* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
}

header {
	background-color:#8325ee;
	display: grid;
    grid-gap: 1rem;
	padding: 20px;
    color: white;
		
}

header,
main {
	margin: 0 auto;
}
header h1 {
    color: white;
}

#menu {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: .5rem .75rem;
    color:white;
    position: relative;
    text-align: right;
    background: none;
    border: none;
}   
#menu::before,
#menu::after {
  content: "";
  /*position: absolute;*/
  
}

#menu::before {
    content: "≡";   
}
#menu.show::before {
    content: "x"; 
}
nav {
    list-style: none;
    margin: 0 auto;
    max-width: 640px;
}
nav {
    display: none;
}
nav.show {
    display: block;
}
nav a {
    display: block ;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 700;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
}
nav a:hover, nav a:active {
    text-decoration: none;
	background-color: white;
	color: black;
}

main h2 {
    font-size: 2.5rem;
    margin: 1rem;
    color: black;
    grid-column: 1 / -1;
    text-align: center;
}
main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 2rem;   
}

figure {
    text-align: center;
}
figure img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
} 
figcaption {
    text-align: center;
}   
    
footer {
    background-color:#8325ee;
    color: white;
    padding: 1rem;
    text-align: center;
}



   





