* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
}

header {
	background-color:#b683f0;
	display: grid;
	grid-gap: 1rem;
	padding: 20px;
	
	
}

header,
main {
	margin: 0 auto;
}
#menu {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: .5rem .75rem;
    color: #fff;
    text-align: right;
}
#menu::before {
    content: "≡";   
}
h1 {
    color: white;
}
.navigation {
    list-style: none;
    margin: 0 auto;
    max-width: 640px;
}
.navigation li {
    display: none;
}
.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 700;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
}
.navigation a:hover, .navigation a:active {
    text-decoration: none;
	background-color: rgb(67, 175, 238);
	color: #000;
}
.show li {
    display: block;
}
#menu.show::before {
    content: "x";
  
}

nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
	font-size: larger;
}

/*nav a:hover {
	text-decoration: none;
	background-color: grey;
	color: #000;
}*/

main h2 {
    font-size: 2.5rem;
    margin: 1rem;
    color: black;
    grid-column: 1 / -1;
    text-align: center;
    }
main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 2rem;
    
}
figure {
    text-align: center;

}
figure img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;

} 
figcaption {
    text-align: center;
}   
    


footer {
    background-color:#b683f0;
    color: white;
    padding: 1rem;
    text-align: center;
}






